<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <title>Tango</title>
        <link rel="stylesheet" href="{% static "css/base.css" %}" />
        <script src="{% static "js/jquery-1.11.0.js" %}"></script>
    </head>

    <body>
        <h1>Tango says...</h1>
        hello world! 
        {% if pages %}
        <ul>
            {% for page in pages %}
                <li>{{ page.title }}</li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        <a href="/tango/about/">About</a></br>
        <img src="{% static "img/Transluc.jpg" %}" alt="Pikcha" />
    </body>

</html>
